/*========================variables============================*/
:root{
    --bodyColor: rgb(20, 20, 20);
    --textColor: white;
    --topBarColor: rgb(30, 30, 30);
    --hamburgerColor: brightness(100%);
    --textareaColor: rgb(20, 20, 20);
    --buttonColor:rgb(20, 20, 20);
    --textareaAbuttonTextColor: white;
    --yellowColor: rgb(196, 199, 0);
    --greenColor: #52fb9e ;
    --blueColor: ;
    --lineColor: white;
}

/*=============================body and html=================================*/
html,body{
    margin: 0 0 0 0;
    background-color: var(--bodyColor);
}
/*loadimg*/
#loadimg{
    background-image:url('load.gif');
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}
#postloadwraper{
    opacity: 1;
    visibility: visible;
    animation-name: apear;
    animation-duration: 2s;
}
@keyframes apear{
    0%,50%{opacity: 0;}
    100%{opacity: 1;}
}
/*==================all settings========================*/
.all_settings{
    display: none;
    background-color:  var(--bodyColor);
    border-color: seashell;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.Exit{
    content:url('exit.png');
    height: 40px;
    width: 53px;
    position: fixed;
    top:.5vw;
    right: 0;
    cursor: pointer;
}
.title{
    letter-spacing: .1em;
    margin:2vh 0 0 0;
    color: var(--textareaAbuttonTextColor);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.peopleCount{
    text-align: center;
    top:0;
    position: sticky;
    padding: 5px;
    border-color: black !important;
    margin: 0;
    font-size: 30px;
    color: var(--yellowColor);
    font-family: Arial, Helvetica, sans-serif;
}
.subTitle{
    margin:.5vw 0 0 0;
    color: var(--yellowColor);
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.tips{
    text-align: center;
    font-size: 30px;
    margin-top: .5vw;
}
.tips a{
    color:yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.div_Themesetting{
    text-align: center;
}
.themesetting{
    margin: 10px 0 0 0;
    font-size: 30px;
    cursor: pointer;
}
.logout{
    margin: 30px 0 0 0;
    text-align: center;
}
.logout button{
    font-size: 30px;
    cursor: pointer;
}
/*=======================chatMenu=========================*/
#chatMenu{
    display: none;
    position: fixed;
    height: 100vh;
    min-width: 400px;
    max-width: 800px;
    width: 600px;
    top:0;
    background-color: var(--topBarColor);
    border:solid var(--lineColor);
    border-width: 0 1px 0 0;
    z-index: +3;
    text-align: center;
    color: var(--textColor);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    resize: horizontal;
    overflow: auto;
    
}
.exitChatButton{
    outline: none;
    content:url('exit.png');
    display: inline-block;
    left:0;
    height: 40px;
    width: 53px;
    position: absolute;
    cursor: pointer;
    z-index: +2;
}
/*=======================TopBar=========================*/
.topBar{
    display: block;
    position: sticky;
    background-color: var(--topBarColor);
    top:0;
    border: solid var(--lineColor);
    border-width: 0 0 1px 0;
    text-align: center;
    font-size: 30px;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
}
.chatButton{
    -webkit-tap-highlight-color: transparent;
    content:url('back.png');
    height: 40px;
    width: 50px;
    left: 0;
    margin: .5vw 1vw 0 0;
    filter: var(--hamburgerColor);
    display: inline-block;
    float: left;
    position: static;
    transition: all .5s;
    cursor: pointer;
    z-index: +2;
}
.topBar div{
    display: inline-block;
    padding: 15px 0px 15px 0px;
}
.hamburger{
    content:url('https://docs.google.com/drawings/d/e/2PACX-1vS3e1kzM75xEe-MQROzoY9dl6JZgR_0FPQbnOo0PRbmrx-e2E12xdXpu-4vynWbAbPaofckWS0MZeky/pub?w=396&h=291');
    height: 40px;
    width: 45px;
    right: 0;
    margin: .5vw 1vw 0 0;
    filter: var(--hamburgerColor);
    display: inline-block;
    float: right;
    position: static;
    transition: all .5s;
    cursor: pointer;
    z-index: +2;
}
.hamburger:hover{
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*========================Texts==========================*/
.messages{
    overflow: auto;
    display: block;
    position: static;
    font-size: 30px;
    margin: 0 0 3em 0;
}
.text{
    z-index: 1;
    position: static;
    text-align: center;
    word-wrap: break-word;
    padding: 20px 40px 20px 40px ;
    border:solid;
    border-width: 0 0 1px 0;
    border-radius: 8px;
    border-color: var(--lineColor) !important;
    margin: 0;
    font-size: 30px;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
}
.textSenderName{
    color: var(--greenColor);
    float: left;
}
.scrollBottomButton{
    bottom: 3em;
    padding: 3px 4vw 3px 4vw;
    display: none;
    position: sticky;
    text-align: center;
    background-color: gray;
    border-radius: 25px 25px 0 0;
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.messageInputFeild{
    
    z-index: 1;
    background-color: var(--bodyColor);
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    position: fixed;
    font-size: 30px;
    height: 3em;
    margin: 0; 
    z-index: 0;
}
.messageInputFeild textarea{
    outline: none;
    color: var(--textareaAbuttonTextColor);
    background-color: var(--textareaColor);
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 90%;
    position: static;
    font-size: 30px;
    resize: none;
    padding:10px 2px 0 15px;
    line-height:1em;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
.messageInputFeild button{
    outline: none;
    color: var(--textareaAbuttonTextColor);
    background-color: var(--buttonColor);
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 10%;
    position: static;
    font-size: 30px;
    line-height:1em;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
@media only screen and (max-device-width: 1000px){
    html,body{
    margin: 0 0 0 0;
    } 
    .Exit{
        height: 10vw;
        width: 13vw;
    }
    .all_settings .title{
    font-size: 7vw;
    }
    .peopleCount{ 
        font-size: 5vw;
    }
    .themesetting{
        font-size: 5vw;
    }
    .subTitle{
        font-size: 5vw;
    }
    .tips a{
        font-size: 5vw;
    }
    .logout button{
        font-size: 5vw;
    }
    .topBar{
        font-size: 5vw;
    }
    #chatMenu{
        min-width: 50vw;
        max-width: 80vw;
    }
    .chatButton{
        height: 10vw;
        width: 10vw;
    }
    .exitChatButton{
        height: 10vw;
        width: 13vw;
    }
    .hamburger{
        height: 10vw;
        width: 10vw;
    }
    .messages{
        font-size: 5vw;
    }
    .text{
        font-size: 5vw;
        padding: 20px 20px 20px 10px;
    }
    .scrollBottomButton{
        font-size: 5vw;
        bottom: 3em;
    }
    .messageInputFeild{
        font-size: 5vw;
    }
    .messageInputFeild button{
        font-size: 5vw;
        width: 20%;
    }
    .messageInputFeild textarea{
       font-size: 5vw;
       width: 80%;
    }
}