/*========================variables============================*/
:root{
    --bodyColor: rgb(20, 20, 20);
    --textColor: white;
    --topBarColor: rgb(30, 30, 30);
    --hamburgerColor: brightness(100%);
    --textareaColor: rgb(20, 20, 20);
    --buttonColor:rgb(20, 20, 20);
    --textareaAbuttonTextColor: white;
    --yellowColor: rgb(196, 199, 0);
    --greenColor: #52fb9e ;
    --blueColor: #63caec;
    --lineColor: white;
}

/*=============================body and html=================================*/
html,body{
    margin: 0 0 0 0;
    background-color: var(--bodyColor);
}
/*loadimg*/
#loadimg{
    background-image:url('load.gif');
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}
#postloadwraper{
    opacity: 1;
    visibility: visible;
    animation-name: apear;
    animation-duration: 2s;
}
@keyframes apear{
    0%,50%{opacity: 0;}
    100%{opacity: 1;}
}
/*==================internet Waring=====================*/
#internetWaring{
    display: none;
    position: fixed;
    background-color: var(--topBarColor);
    border: solid var(--lineColor);
    border-width: 1px;
    border-radius: 15px;
    text-align: center;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
/*==================all settings========================*/
.all_settings{
    display: none;
    background-color:  var(--bodyColor);
    border-color: seashell;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.Exit{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    height: 50px;
    position: fixed;
    top:.5vw;
    right: 0;
    cursor: pointer;
}
.Exit a{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    content:url('exit.png');
    height: 50px;
    transition: all .3s ease-out;
}
.Exit:hover > a{
    transform: rotateZ(90deg);
}
.title{
    letter-spacing: .1em;
    margin:2vh 0 0 0;
    color: var(--textareaAbuttonTextColor);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.subTitle{
    margin:.5vw 0 0 0;
    color: var(--yellowColor);
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.tips{
    text-align: center;
    font-size: 30px;
    margin-top: 2vw;

}
.tips a{
    text-decoration: none;
    display: inline-block;
    border:none ;
    background-color: var(--greenColor);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 2px;
}
.div_Themesetting{
    text-align: center;
}
.themesetting{
    margin: 10px 0 0 0;
    font-size: 30px;
    cursor: pointer;
}
.logout{
    margin: 30px 0 0 0;
    text-align: center;
}
.logout button{
    outline: none;
    font-size: 30px;
    cursor: pointer;
    transition-duration: .1s;
    border:none;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    background-color: var(--greenColor);
}
.logout button:hover {
    background-color: #36a568;
    padding: 15px;
    color:white;
}
/*=======================chatMenu=========================*/
#chatMenu{
    outline: none;
    display: block;
    position: fixed;
    height: 100vh;
    min-width: 400px;
    max-width: 800px;
    width: 600px;
    top:0;
    background-color: var(--topBarColor);
    border:solid var(--lineColor);
    border-width: 0 0 0 0;
    z-index: +3;
    text-align: center;
    color: var(--textColor);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    resize: horizontal;
    overflow: auto;
    
}
.topOfChatMenu{
    box-shadow: #00000029 -4px 13px 20px 0px;
    height: 50px;
}
.exitChatButton{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    position: static;
    float: left;
    top:0;
    left: 0;
    cursor: pointer;
    
    height: 50px;
}
.exitChatButton a{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    height: 50px;
    content:url('exit.png');
    transition: all .3s ease-out;
    z-index: 1;
}
.exitChatButton:hover > a{
    transform: rotateZ(90deg);
}
.chatFuncButton{
    -webkit-tap-highlight-color: transparent;
    font-size: 30px;
    outline: none;
    padding: 5px 0 5px 0;
    cursor: pointer;
    display: block;
    transition-duration: 0.3s;
}
.chatFuncButton:hover{
    background-color: var(--bodyColor) ;
}
.chatFuncButton div{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.chatTitle{
    display: inline-block;
    font-size: 40px;
}
#topchat{
    display: block;
}
/*=======================TopBar=========================*/
.topBar{
    display: block;
    position: sticky;
    text-align: center;
    background-color: var(--topBarColor);
    top:0;
    height: 50px;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
}
#chatTitle{

}
.peopleCount{
    display: inline-block;
    position: static;
    top:0;
    left: 200px;
    font-size: 30px;
    color: var(--yellowColor);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: solid 1px var(--lineColor);
    border-radius: 3px;
    margin: 0 0 0 10px;
    padding: 0 3px 0 3px ;
}
.chatButton{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    cursor: pointer;
    left: 0;
    display: inline-block;
    float: left;
    position: static;
    height: 50px;
}
.chatButton a{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    content:url('back.png');
    filter: var(--hamburgerColor);
    transition: all .3s ease-out;
    height: 50px;
    z-index: 2;
}
.chatButton:hover  > a{
    transform: rotateY(180deg);
}
.topBar div{
    font-size: 40px;
    display: inline-block;
}
.hamburger{
    -webkit-tap-highlight-color: transparent;
    content:url('https://docs.google.com/drawings/d/e/2PACX-1vS3e1kzM75xEe-MQROzoY9dl6JZgR_0FPQbnOo0PRbmrx-e2E12xdXpu-4vynWbAbPaofckWS0MZeky/pub?w=396&h=291');
    filter: var(--hamburgerColor);
    display: inline-block;
    position: absolute;
    cursor: pointer;
    height:50px;
    right: 0;
    transition: all .5s;
    transition: all 0.22s ease 0s;
}
.hamburger:hover{
    -webkit-tap-highlight-color: transparent;
    transform: translate(-8px, 7px);


}
#tip1{
    display: block;
    position: absolute;
    width: 17em;
    font-size: 30px;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*========================Texts==========================*/
.messages{
    overflow: auto;
    display: block;
    position: static;
    font-size: 30px;
    margin: 0 0 3em 0;
}
.text{
    z-index: 1;
    position: static;
    text-align: left;
    word-wrap: break-word;
    padding: 15px 40px 15px 40px ;
    border:solid;
    border-width: 0 0 1px 0;
    border-radius: 8px;
    border-color: var(--lineColor) !important;
    margin: 0;
    font-size: 30px;
    color: var(--greenColor);
    font-family: Arial, Helvetica, sans-serif;
}
.youText{
    position: static;
    z-index: 1;
    position: static;
    text-align: left;
    word-wrap: break-word;
    padding: 15px 40px 15px 40px ;
    border:solid;
    border-width: 0 0 1px 0;
    border-radius: 8px;
    border-color: var(--lineColor) !important;
    margin: 0;
    font-size: 30px;
    color: var(--blueColor);
    font-family: Arial, Helvetica, sans-serif;
}
.textInfo{
    display: block;
    line-height: 30px;
}
.textSenderName{
    display: inline-block;
    font-size: 20px;
    color: var(--greenColor);
}
.userSenderName{
    display: inline-block;
    font-size: 20px;
    color: var(--blueColor);
}
.textsTime{
    line-height: 25px;
    display: inline-block;
    color: var(--textColor);
    font-size: 15px;
    vertical-align: bottom;
}
.scrollBottomButton{
    bottom: 3em;
    padding: 3px 4vw 3px 4vw;
    display: none;
    position: sticky;
    text-align: center;
    background-color: gray;
    border-radius: 25px 25px 0 0;
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#messageInputFeild{
    
    z-index: 1;
    background-color: var(--bodyColor);
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    position: fixed;
    font-size: 30px;
    height: 3em;
    margin: 0; 
    z-index: 0;
}
#messageInputFeild textarea{
    outline: none;
    color: var(--textareaAbuttonTextColor);
    background-color: var(--textareaColor);
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 90%;
    position: static;
    font-size: 30px;
    resize: none;
    padding:0px 2px 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
#messageInputFeild textarea::placeholder{
    padding: 10px 0 0 0;
}
#messageInputFeild button{
    outline: none;
    color: var(--textareaAbuttonTextColor);
    background-color: var(--buttonColor);
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 10%;
    position: static;
    font-size: 30px;
    line-height:1em;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
@media only screen and (max-device-width: 760px){
    html,body{
    margin: 0 0 0 0;
    } 
    .Exit{
        height: 9vw;
        width: 11.7vw;
    }
    .Exit a{
        height: 9vw;
        width: 11.7vw;
    }
    #internetWaring{
        font-size: 5vw;
        padding: 20px;
        height: unset;
        width: unset;
    }
    .all_settings .title{
    font-size: 7vw;
    }
    .peopleCount{ 
        font-size: 6vw;
    }
    .themesetting{
        font-size: 6vw;
    }
    .subTitle{
        font-size: 6vw;
    }
    .tips a{
        font-size: 6vw;
    }
    .logout button{
        font-size: 6vw;
    }
    .topBar {
        height: 9vw;
    }
    .topBar div{
        font-size: 7vw;
    }
    #tip1{
        margin: 0 10vw 0 10vw;
        width: unset;
        top: 40%;
        left: unset;
        transform: translate(0,-40%);
    }
    #chatMenu{
        min-width: 50vw;
        max-width: 55vw;
    }
    .topOfChatMenu{
        height: 9vw;
    }
    .chatTitle{
        font-size: 7vw;
    }
    .chatButton{
        height: 100%;
    }
    .chatButton a{
        height: 100%;
    }
    .chatFuncButton{
        font-size: 6vw;
    }
    .exitChatButton{
        height: 100%;
    }
    .exitChatButton a{
        height: 100%
    }
    .hamburger{
        height: 100%;
    }
    .text{
        font-size: 20px;
        padding: 10px 20px 10px 10px;
    }
    .youText{
        font-size: 20px;
        padding: 10px 20px 10px 10px;
    }
    .scrollBottomButton{
        font-size: 5vw;
        bottom: 3em;
    }
    #messageInputFeild button{
        font-size: 25px;
        width: 20%;
    }
    #messageInputFeild textarea{
       font-size: 25px;
       width: 80%;
    }
}