<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="file.style2.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <div class="title">Sign up</div>
        <form method="POST" >
            <input name="Username" minlength="3" maxlength="15" class="Username" type="text" placeholder="Username" required><br>
            <input name="Password" minlength="8" maxlength="15" class="Password" type="password" placeholder="Password" required><br>
            <input class="LoginButton" type="submit"></input>
        </form>
        <a href="Login">Already have an acount?</a>
    </div>
    <script src="file.register.js"></script>
</body>
</html>