body,
html {
	background-color: rgb(30, 30, 30);
	margin: 0;
}
.form {
	position: absolute;
	background-color: rgb(20, 20, 20);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 30px;
	border: none;
	border-radius: 8px;
}
.title {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	letter-spacing: 0.03em;
}
.Username,
.Password {
	font-size: 30px;
	background-color: rgb(30, 30, 30);
	font-family: 'Roboto', sans-serif;
	color: #73ffb2;
	padding-left: 8px;
	border-radius: 2px;
	border: none;
}
.Username::placeholder {
	color: #ebebdf;
}
.Password::placeholder {
	color: #ebebdf;
}
.Username {
	margin: 30px 0 15px;
}
.Password {
	margin-bottom: 25px;
}
.LoginButton {
	color: #ebebdf;
	outline: none;
	border-radius: 3px;
	padding: 0 156px;
	color: black;
	background-color: #73ffb2;
	border: none;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s ease 0s;
}
.LoginButton:hover {
	color: #7c887c;
	background-color: #73ffb2;
	box-shadow: #73ffb228 2px 3px 10px 4px;
	cursor: pointer;
}
.form a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-size: 20px;
	margin: 20px 0 0 0;
}
@media only screen and (max-device-width: 760px) {
   .form{
      padding: 15px;
   }
   .LoginButton{
   	padding: 0 105px;   
   }
   .form a{
      font-size: 10px;
   }
   .Username{
      margin: 20px 0 10px;
   }
   .Password{
      margin-bottom: 20px;
   }
   .title{
      font-size: 25px;
   }

	.Username,
	.Password,
	.LoginButton {
		font-size: 20px;
	}
}
