<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176266475-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-176266475-4');
	</script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/login/style.css" rel="stylesheet">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="form">
        <div class="title">chatmise.com</div>
        <form id="theform" method="POST" action="/login">
            <input autocomplete="username" name="username" maxlength="25" class="Username" type="text"
                placeholder="Username" required><br>
            <input autocomplete="current-password" name="password" maxlength="25" class="Password" type="password"
                placeholder="Password" required><br>
            <button class="LoginButton">login</button>
        </form>
        <!--
        <a href="/signup">Don't have an account</a> <a>|</a>
    -->
        <a href="/home">Home page</a>
    </div>
    <script>
        //function declaration

        //===================
        document.forms['theform'].addEventListener('submit', (event) => {
            event.preventDefault();
            fetch('/login', {
                method: 'POST',
                body: new URLSearchParams(new FormData(theform))
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                console.log(body)
                if (body != 'Wrong password or Username') {
                    location.replace("/")
                } else if (body == 'Wrong password or Username') {
                    alert(body)
                }
            })
        });
    </script>
</body>

</html>