<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176266475-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-176266475-4');
	</script>
	<link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/resources/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/resources/icons/favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="stylesheet" type="text/css" href="/resources/app/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>chatmise</title>
	<audio id="myAudio">
		<source src="/resources/audio/audioping.mp3" type="audio/mp3"> </audio>
</head>
	<!--gif onload-->
	<div id="loadimg"></div>
	<div id="postloadwraper">

		<!--UserCountTip-->
		<div id='userCountTip'>Current active users: <span id="Count">1</span></div>
		<!--Internet warning-->
		<div id="internetWaring">Connection error, please check your internet</div>
		<!--Hamburger menu=========================-->
		<div id='hamburgerMenuWrapper' class="hamburgerMenuWrapper">
			<div id='hamburgerMenuContainer'>
				<div class="exitButton"><a type='button' onclick="openCloseHamburgerMenu('close')"></a></div>
				<div class="youAreLoggedInAs">Logged in as <%= username %></div>
				<button class="hamburgerMenuButtons"><a href="https://tipsandbugreport.netlify.app/">Report a bug</a></button><br>
				<button class="hamburgerMenuButtons" onclick="openCloseSettingsMenu('open')">Settings</button><br>
				<button class="hamburgerMenuButtons" onclick="logoutUser()">Logout</button>
				<a class="homeLink" href="/home">Home page</a>
			</div>
			<!--Settings-->
			<div id="settingsContainer">
				<div class="exitButton"><a type='button' onclick="openCloseSettingsMenu('close')"></a></div>
				<div class="settingsTitle">Settings</div>
				<div class="settingsSubTitle">Theme</div>
				<select onchange="selectAndPostValueOfTheme()" class="themesetting" id="themesetting">
					<option value="1">Dark Theme</option>
					<option value="2">Gray Theme</option>
					<option value="3">Light Theme</option>
				</select>
			</div>
			<!--Settings-->
		
		</div>
		<!--Hamburger menu=========================-->

		<!--Chats menu-->
		<div id='chatMenu' tabindex="1" onblur="openCloseChatMenu('close')">
			<div class="topOfChatMenu">
				<div class="exitButton"><a onclick="openCloseChatMenu('close')"></a></div>
				<div class="chatTitle">Chats</div>
			</div>

			<div id='topchat'></div>
		</div>
		<!--Chats menu-->

		<div id='uiWrapper' class="uiWrapper">
			<div class="topBar">
				<!--topBar-->
				<div class="chatButton">
					<a type='button' onclick="openCloseChatMenu('open')"></a>
				</div>
				<div id="chatTitle">choose a chat</div>
				<div class='peopleCount' id="Count2" onclick="openCloseUserCountTip()">1</div>
				<a type='button' class="hamburger" onclick="openCloseHamburgerMenu('open')"></a>
			</div>
			<div id="tip1">choose one of the chats to the left of your screen</div>
			<div class="messages">
				<div id="message"></div>
				<!--messages go bellow #message-->
			</div>
			<div class="scrollBottomButton">new messages</div>
			<div id="messageInputFeild">
				<textarea placeholder="type a message here" id="input" maxlength="170"
					onkeydown="sendMessageWhenEnterKeyPressed(event)"></textarea>
				<button onclick="displayAndSendOutGoingMessage()">Enter</button>
			</div>
		</div>
	</div>
	<!--====================================================================-->
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="/resources/app/client.js"></script>
	<!--====================================================================-->
</body>

</html>