<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176266475-4"></script>
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-176266475-4');
   </script>
   <script src="https://apis.google.com/js/platform.js?onload=renderButton" async
      defer>//for frictionless signin</script>
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/manifest.json">
   <meta charset="UTF-8">
   <meta name="google-signin-client_id"
      content="407415747373-v23ak1k7kp37k3s986mu5qh9cpqh9bdh.apps.googleusercontent.com">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/resources/auth/style.css" rel="stylesheet">
   <title>Login</title>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
   <div class="centerWraper">
      <div class="form">
         <div class="title">chatmise</div>
         <form id="theform" method="POST" action="/login">
            <input autocomplete="username" name="username" maxlength="25" class="Username" type="text"
               placeholder="Username" required><br>
            <input autocomplete="current-password" name="password" maxlength="25" class="Password" type="password"
               placeholder="Password" required><br>
            <button class="LoginButton">login</button><br>
            <div id="my-signin2"></div>
         </form>
      </div>
      <a class="homeLink" href="/home">Home page</a>
   </div>
   <script>
      document.forms['theform'].addEventListener('submit', (event) => {
         event.preventDefault();
         fetch('/login', {
            method: 'POST',
            body: new URLSearchParams(new FormData(theform))
         }).then((resp) => {
            return resp.text(); // or resp.text() or whatever the server sends
         }).then((body) => {
            console.log(body)
            if (body != 'incorrect') {
               location.replace("/")
            } else if (body == 'incorrect') {
               alert(body)
            }
         })
      });
      function renderButton() {
         gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 360,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
         });
      }
      function onSuccess(googleUser) {
         var profile = googleUser.getBasicProfile();
         console.log('Logged in as: ' + profile.getName());
         console.log('Token: ' + googleUser.getAuthResponse().id_token);
      }
      function onFailure(error) {
         console.log(error);
      }
   </script>
</body>

</html>