<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176266475-4"></script>
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-176266475-4');
   </script>
   <meta charset="UTF-8">
   <meta name="description"
      content="The messaging platform that puts the power of customizability onto the users hands">
   <meta name="keywords" content="customizability, messaging, chatmise">
   <meta name="author" content="Tony">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/resources/icons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/resources/icons/favicon-16x16.png">
   <link rel="manifest" href="/manifest.json">
   <title>chatmise</title>
   <link rel="stylesheet" href="/home/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/home/style.css">
</head>

<body>
   <a href="https://twitter.com/Tony_314159"> <img alt="twitter logo" class="twitterLink"
         src="/resources/images/twitter.png"></img></a>
   <button class="loginButton" onclick="window.location.href = '/login';">Login</button>
   <button class="signUpButton" onclick="window.location.href = '/signup';">Sign
      up</button>
   <div class="mainText">The messaging platform that puts the power of customizability onto the users hands</div>
   <div class="subText">currently this project is under development</div>
</body>

</html>