<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176266475-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-176266475-4');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/signup/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <div class="title">Sign up</div>
        <div >
            <input name="Username" minlength="3" maxlength="15" class="Username" type="text" placeholder="Username" required><br>
            <input name="Password" minlength="8" maxlength="15" class="Password" type="password" placeholder="Password" required><br>
            <button class="LoginButton" onclick="alert('this page is not active yet')">Submit</button>
        </div>
        <a href="/login">Already have an account</a> <a>|</a>
        <a href="/home">Home page</a>
    </div>
</body>
</html>